<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<integer>2</integer>
	<key>1</key>
	<integer>7</integer>
	<key>2</key>
	<integer>3</integer>
	<key>3</key>
	<integer>5</integer>
	<key>4</key>
	<integer>6</integer>
	<key>5</key>
	<integer>4</integer>
	<key>6</key>
	<integer>8</integer>
	<key>7</key>
	<integer>9</integer>
	<key>8</key>
	<integer>1</integer>
</dict>
</plist>
